{% extends 'frontend/main.html' %}
{% load static %}

{% block title %}
Обо мне
{% endblock title %}

{% block content %}
<div class="aboutMe">
    <div class="imageAboutMe">
        <img class="imageBorder" src="{% static 'main/image/aboutMeFoto.jpg' %}">
    </div>
    <div class="textAboutMe">
        <p>Всем привет! Меня зовут Виктория. Ровно три года я занималась маникюром и меня вполне устраивала эта работа,
            но однажды я морально выдохлась и поняла, что больше не испытываю того удовольствия от работы с ногтями, что
            было раньше. Сфера красоты меня привлекала ещё со времён моей учёбы в институте, поэтому, как только я его
            закончила, то пошла на курсы по маникюру, получила сертификаты и начала свою деятельность. Когда я решила отойти от
            деятельности nail-мастера, то встал вопрос, чем я хочу заниматься теперь. Мне не пришлось долго думать и я
            выбрала профессию бровиста. Ещё со школьных времён я проводила эксперименты над своими собственными бровями
            и как большинство девочек выщипывала их, чуть ли не полностью, красила жирным карандашом и прочее. С возрастом
            я более ответственно подошла к своей внешности и стала посещать мастера бровиста, который мне помог отрастить
            волоски и придал бровям форму, о которой я могла только мечтать. Как же я была тогда удивлена от того, как
            сильно брови меняют наше лицо и насколько ухоженным оно выглядит, если подойти к их оформлению с умом.
            Сейчас я собственноручно помогаю клиентам отращивать и украшать такой важный атрибут нашего лица, как брови. Любую
            форму можно исправить! Главное вовремя обратиться к грамотному специалисту. Я решила создать свой личный бренд,
            который постоянно развиваю и не собираюсь сидеть на одном месте. Свое призвание я нашла в том, чтобы делать
            девушек и женщин красивее и немножечко счастливей благодаря внешним переменам.
        </p>
        <div id="logoAboutMe">
            <img src="{% static 'main/image/LogoMain.png' %}">
        </div>
    </div>
</div>
{% endblock content %}