{% extends 'frontend/main.html' %}
{% load static %}

{% block title %}
Услуги
{% endblock title %}

{% block content %}
<div class="services">
    <div class="service">
        <h3>Оформление бровей + окрашивание краской/хной - 700<span>&#8381;</span></h3>
        <div class="imageService">
            <img class="imageBorder" src="{% static 'main/image/imageService1.jpg' %}">
        </div>
        <div class="textService">
            <p>Коррекция формы бровей проводится с помощью воска и пинцета, что минимизирует болевые ощущения и
                сокращает
                длительность процедуры. Для окрашивания используются качественные красители, хорошо зарекомендовавшие
                себя
                среди
                всех мастеров. Длительность процедуры в среднем составляет 1 час.</p>
            <p>Удаление волосков пинцетом позволяет быстро удалить небольшое количество волос, в отличие от воска,
                однако,
                именно этот метод позволяет добиться более чистой коррекции</p>
            <p>Коррекция бровей воском позволяет максимально увеличить интервал между процедурами коррекции бровей. Она
                подходит
                для густых, жестких и интенсивно растущих волос, а так же идеально удаляет легкий пушковый волос на
                лице.</p>
            <p>Противопоказания: Индивидуальная непереносимость компонентов.</p>
        </div>
    </div>
    <br>
    <div class="service">
        <h3>Ламинирование бровей + оформление + окрашивание краской - 1200<span>&#8381;</span></h3>
        <div class="imageService">
            <img class="imageBorder" src="{% static 'main/image/imageService2.jpg' %}">
        </div>
        <div class="textService">
            <p>ДУ включает в себя коррекцию формы бровей (по желанию клиента) и окрашивание волосков краской (хна в
                данном
                случае
                не используется). Процедура включает в себя три этапа:</p>
            <ol>
                <li>Наносится перманентный гель</li>
                <li>Наносится нейтрализатор</li>
                <li>Наносится регенерирующее аргановое масло.</li>
            </ol>
            <p>Процедура подходит жестким, непослушным, вьющимся, растущим в хаотичном направлении, а так же густым
                бровям.</p>
            <p>ДОЛГОВРЕМЕННАЯ УКЛАДКА ПРОТИВОПОКАЗАНА ПОДСТРИЖЕННЫМ БРОВЯМ!</p>
            <p>Противопоказания: Индивидуальная непереносимость компонентов.</p>
        </div>
    </div>
    <br>
    <div class="service">

        <h3>Счастье для бровей + 200<span>&#8381;</span> к любой процедуре</h3>
        <div class="imageService">
            <img class="imageBorder" src="{% static 'main/image/imageService3.jpg' %}">
        </div>
        <div class="textService">
            <p>Данный уход за бровями не имеет аналогов и предназначен для восстановления и предназначен для
                восстановления и придания ухоженного вида вашим бровям. Подходит для жестких, ломких и пересушенных
                волосков. Идеально делать этот уход вместе с окрашиванием хной или же отдельно, чтобы следить за
                состоянием ваших бровей между процедурами и не позволять им слабеть, особенно если вы часто делаете
                долговременную укладку. Содержит в себе ценные натуральные масла и витамины для роста волос.</p>
            <p>Счастье для бровей поможет отрастить тонкие и слабые волоски, придать им толщины, пробуждает спящие
                луковицы и делает брови мягкими и напитанными.</p>
        </div>
        <h3>Осветление бровей + 100<span>&#8381;</span>  кпроцедуре перед окрашиванием</h3>
        <h3>Удаление пушка над верхней губой - 200<span>&#8381;</span></h3>
    </div>
</div>

<!-- Онлайн-запись / Открыть модальное окно -->
<div id="appointment">
    <button id="btnAppointment">
        <img class="rounded-circle" src="{% static 'favicon.png' %}">
    </button>
</div>
<!-- Модальное окно -->
<div id="modalAppointment" class="modal-appointment">
    <!-- Модальное содержание -->
    <div class="modal-content-appointment">
        <span class="close-appointment">&times;</span>
        <h2>Форма в разработке</h2>
        <br><br>
        <p>Здесь можно будет записаться на услугу.</p>
        <br><br>
        <p>Здесь можно будет записаться на услугу.</p>
        <br><br>
        <p>Здесь можно будет записаться на услугу.</p>
        <br><br>
        <p>Здесь можно будет записаться на услугу.</p>
        <br><br>
        <p>Здесь можно будет записаться на услугу.</p>
    </div>
</div>

<!-- Bookform widget -->
<!--<script>-->
<!--(function (w,d,s,o,f,js,fjs){w['BookformObject']=o;w[o]=w[o]||function(){(w[o].q=w[o].q||[]).push(arguments)};-->
<!--js=d.createElement(s),fjs=d.getElementsByTagName(s)[0];-->
<!--js.id=o;-->
<!--js.src=f;-->
<!--js.async=1;-->
<!--fjs.parentNode.insertBefore(js,fjs);-->
<!--}(window,document,'script','Bookform','https://widget.bookform.ru/37001/js'));-->
<!--Bookform('floatingButton',{id:37001});-->
<!--</script>-->
<!-- End Bookform widget -->
{% endblock content %}
